# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/

# Node
rumo-ao-80-pcpr/node_modules/
rumo-ao-80-pcpr/dist/
rumo-ao-80-pcpr/.output/
rumo-ao-80-pcpr/.vinxi/
rumo-ao-80-pcpr/.tanstack/
rumo-ao-80-pcpr/.nitro/
rumo-ao-80-pcpr/.wrangler/

# OS
.DS_Store
Thumbs.db
